<style>
/* VARIABLES */
:root{
  --white-color: rgb(203, 213, 224);
  --primary-color: #deda64;
  --secondary-color: rgb(26, 32, 44);
  --tertiary-color: #b8b451;
}

/* GENERAL STYLES */
*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--primary-color);
  transition: all 300ms;
}

a:hover{
  color: var(--tertiary-color);
  text-decoration: underline;
}

h1{
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

p, ul, ol, h1, h2, h3, h4{
  line-height: 1.25;
  letter-spacing: -0.025em;
  max-width: 75ch;
}

/* MENU BUTTON */
.menu_btn{
  display: none;
}

.menu_bar,
.menu_bar::before,
.menu_bar::after{
  width: 40px;
  height: 5px;
  border-radius: 2.5px;
  background-color: white;
}

.menu_bar::before,
.menu_bar::after{
  content: '';
  position: absolute;
  display: block;
  transition: transform .2s;
}

.menu_bar::before{
  top: -.7em;
}

.menu_bar::after{
  top: .7em;
}

.menu_active{
  height: 0;
}

.menu_active::before,
.menu_active::after{
  top: 0;
}

.menu_active::before{
  transform: rotate(-45deg);
}

.menu_active::after{
  transform: rotate(45deg);
}

/* NAV */
nav{
  font-size: 1.5rem;
}

nav ul{
  flex-direction: row;
}

nav ul li a {
  color: white;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
  .menu_btn{
    display: flex;
  }

  nav{
    font-size: 1.7rem;
    transform: translateY(-200%);
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }

  nav ul{
    flex-direction: column;
    height: 95%;
  }

  .menu_show{
    transform: translateY(0);
    position: fixed;
  }

  .block_scrolling{
    overflow: hidden;
  }
}

@media only screen and (max-width: 500px) {
  .article_header h1{
    font-size: 2em;
  }
}
</style>
