<style>
  h2{
    font-size: 2.3em;
  }

  .summary > *{
    margin-bottom: .6em;
  }

  .article_button:hover{
    background-color: var(--tertiary-color);
    cursor: pointer;
  }

  @media only screen and (max-width: 800px) {
    h2{
      font-size: 1.5em;
    }
  }

  @media only screen and (max-width: 500px) {
    .data span{
      display: block;
    }

    .separator{
      border-left: 0;
      padding-left: 0;
    }
  }
</style>
